
@model List<OnlineMasterG.Models.ViewModels.DailyQuizVM>



<table id="tblCategoryList" class="dataTables_wrapper dt-bootstrap4 no-footer">
    <thead>
        <tr>
            <th>Sl No.</th>
            <th>Course Name</th>
            <th>Subject Name</th>
            <th>Daily Quiz Name</th>
            <th>Quiz</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Count() > 0)
        {
            foreach (var item in Model.Select((x, y) => new { Data = x, Index = y }))
            {
                <tr>
                    <td>@(item.Index + 1)</td>
                    <td>@(item.Data.DailyQuizCourseName)</td>
                    <td>@item.Data.DailyQuizSubjectName</td>
                    <td>@item.Data.DailyQuizName</td>
                    <td><button class="btn btn-info" onclick='editQuiz(@Html.Raw(Json.Encode(new { id=item.Data.DailyQuizId,courseId= item.Data.DailyQuizCourseId, subjectId = item.Data.DailyQuizSubjectId,quizName = item.Data.DailyQuizName, isActive = item.Data.Isactive,languagecode = item.Data.LanguageCode ,description = item.Data.Description,noOfQuestion = item.Data.NoOfQuestions})));'><i class="fa fa-pencil-alt"></i></button></td>
                    <td><button class="btn btn-danger" onclick='deleteQuiz(@Html.Raw(Json.Encode(new { id=item.Data.DailyQuizId,quizName = item.Data.DailyQuizName})))'><i class="fa fa-trash"></i></button></td>
                </tr>

            }

        }

    </tbody>
</table>
<script type="text/javascript">

    $(document).ready(function () {
        $("#tblCategoryList").DataTable();
    });
</script>