@model List<OnlineMasterG.Models.ViewModels.TestimonialsVM>

@using OnlineMasterG.CommonFramework

<script type="text/javascript">

    $(document).ready(function () {
        $("#tblReviews").DataTable();
    });
</script>

<table id="tblReviews" class="dataTables_wrapper dt-bootstrap4 no-footer">
    <thead>
        <tr>
            <th style="width:30px;">Sl No.</th>
            <th>Test Name</th>
            <th>Candidate Name</th>
            <th>Stars</th>
            <th>Review</th>
            <th>Approve / Deny</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Count() > 0)
        {
            foreach (var item in Model.Select((x, y) => new { Data = x, Index = y }))
            {
                <tr>
                    <td>@(item.Index + 1)</td>
                    <td>@item.Data.TestName </td>
                    <td>@item.Data.FirstName  @item.Data.LastName</td>
                    <td>@item.Data.Rating Stars</td>
                    <td>@item.Data.Review</td>
                    <td>
                        @if (item.Data.IsApproved == true)
                        {
                            <button class="btn btn-primary" onclick='fnDenyApproval(@Html.Raw(Json.Encode(new { id=item.Data.AttemptId})))'>Deny</button>
                        }
                        else
                        {
                            <button class="btn btn-primary" onclick='fnApproval(@Html.Raw(Json.Encode(new { id=item.Data.AttemptId})))'>Approve</button>
                        }
                    </td>

                </tr>

            }

        }
    </tbody>
</table>

