@using OnlineMasterG.CommonFramework
@{
    ViewBag.Title = "Online Master Ji";
    Layout = "~/Views/Shared/PublicLayout.cshtml";
}
<style>
.mobile_navi a img {
    background: white;
    padding: 9px;
    box-shadow: 4px 0 14px 3px #e6e6e6;
    border-radius: 15px;
    max-width: 40px;
}

[class^="ti-"], [class*=" ti-"]{
	    line-height: 2.5 !important;
}
</style>
 <section class="saas_banner_area_three owl-carousel">
            <div class="slider_item">
                <div class="container-fluid p0">
                    <div class="slidet_content">
                       <img src="icons/slider.jpg" alt="">
                    </div>
                   <!--  <div class="image_mockup">
                        <img class="watch" src="img/new/mockup/Watch.png" alt="">
                        <img class="laptop" src="img/new/mockup/Laptop.png" alt="">
                        <img class="phone" src="img/new/mockup/Iphone.png" alt="">
                    </div> -->
                </div>
            </div>
            <div class="slider_item slider_item_two">
               <div class="container-fluid p0">
                    <div class="slidet_content">
                       <img src="icons/slider.jpg" alt="">
                    </div>
                   <!--  <div class="image_mockup">
                        <img class="watch" src="img/new/mockup/Watch.png" alt="">
                        <img class="laptop" src="img/new/mockup/Laptop.png" alt="">
                        <img class="phone" src="img/new/mockup/Iphone.png" alt="">
                    </div> -->
                </div> 
			  </div>
        </section>

<section class="service_area sec_pad">
		
            <div class="container custom_container p0">
                <div class="sec_title text-center">
                    <h2 class="f_p f_size_30 l_height50 f_700 t_color2">Latest Updates</h2>
                    <p class="f_400 f_size_16 l_height30">Here you can check all the updates!!</p>
                </div>
                <div class="row service_info mt_70 mb_30">
                    <div class="col-lg-4 col-sm-6 mb-30">
                        <a href="@Url.Action("Index","ExamUpdates")">
							<div class="service_item">
								<div class="icon s_icon_one"><i class="ti-check"></i></div>
								<h4 class="f_600 f_size_20 l_height28 t_color2 mb_20"> Admit Cards</h4>
								<p>Get your admit card for diffrent types of exams just in few steps. </p>
								<img class="float-right" src="/img/home2/undraw.png" alt="">
							</div>
						</a>
                    </div>
					  <div class="col-lg-4 col-sm-6 mb-30">
					  <a href="@Url.Action("Index","ExamUpdates")">
                        <div class="service_item">
                            <div class="icon s_icon_four"><i class="ti-bar-chart"></i></div>
                            <h4 class="f_600 f_size_20 l_height28 t_color2 mb_20">Results<br> </h4>
                            <p> Check your results here, just in seconds. </p>
                            <img class="float-right" src="/img/home2/report.png" alt="">
                        </div>
						</a>
                    </div>
					
                    <div class="col-lg-4 col-sm-6 mb-30">
					<a href="@Url.Action("Index","ExamUpdates")">
                        <div class="service_item">
                            <div class="icon s_icon_three"><i class="ti-search"></i></div>
                            <h4 class="f_600 f_size_20 l_height28 t_color2 mb_20">Online Forms</h4>
                            <p> Check links for all online form.</p>
                            <img class="float-right" src="/img/home2/file.png" alt="">
                        </div>
						</a>
                    </div>
                  
                </div>
            </div>
        </section>
<div class="s_service_section breadcrumb_area typography_breacrumb responsive_bread">
			<img class="breadcrumb_shap" alt="" src="img/breadcrumb/banner_bg.png">
                <div class="container custom_container">
                    <h2 class="f_p f_size_30 l_height50 f_600 t_color text-center">If you are a learner, then you are at the right place.</h2>
                    <div class="row s_service_info mt_70">
					<div class="col-lg-3 col-sm-6">
					<a href="@Url.Action("Index","MockTests")">
                            <div class="s_service_item">
                                <div class="solid_overlay"></div>
                                <div class="icon icon_4">
                                    <i class="ti-bookmark-alt"></i>
                                </div>
                                <h5 class="f_p f_size_20 f_600 t_color">Government Exam</h5>
                                <p class="l_height28">Preparing for govt. job, we provide full study material for govt. job's exams.</p>
                                <span class="learn_btn_two">View More <i class="ti-arrow-right"></i> </span>
                            </div></a>
                        </div>
					
					  <div class="col-lg-3 col-sm-6">
					  <a href="@Url.Action("Index","MockTests")">
                            <div class="s_service_item">
                                <div class="solid_overlay"></div>
                                <div class="icon icon_3">
                                    <i class="ti-bag"></i>
                                </div>
                                <h5 class="f_p f_size_20 f_600 t_color">Professional Courses</h5>
                                <p class="l_height28">Nothing to worry here you can find all the study material of your course.</p>
                                <span class="learn_btn_two">View More <i class="ti-arrow-right"></i> </span>
                            </div></a>
                        </div>

					<div class="col-lg-3 col-sm-6">
					<a href="@Url.Action("Index","Colleges")">
                            <div class="s_service_item">
                                <div class="solid_overlay"></div>
                                <div class="icon icon_2">
                                    <i class="ti-user"></i>
                                </div>
                                <h5 class="f_p f_size_20 f_600 t_color">College</h5>
                                <p class="l_height28">Pursuing your college, Here you can find the study material of your course.</p>
                                <span class="learn_btn_two">View More <i class="ti-arrow-right"></i> </span>
                            </div></a>
                        </div>
                        <div class="col-lg-3 col-sm-6">
						<a href="@Url.Action("Index","Schools")">
                            <div class="s_service_item">
                                <div class="solid_overlay"></div>
                                <div class="icon icon_1">
                                    <i class="ti-pencil-alt2"></i>
                                </div>
                                <h5 class="f_p f_size_20 f_600 t_color">School</h5>
                                <p class="l_height28">Searching for syllabus, Here you can find the full study material of your subjects.</p>
                                <span class="learn_btn_two">View More <i class="ti-arrow-right"></i> </span>
                            </div></a>
                        </div>
                    </div>
                </div>
            </div>


