@model List<OnlineMasterG.Models.ViewModels.PaperVM>
@using OnlineMasterG.CommonFramework

<table id="tblSectionList" class="dataTables_wrapper dt-bootstrap4 no-footer">
    <thead>
        <tr>
            <th>Sl No.</th>
            <th>Class Name</th>
            <th>Subject Name</th>
            <th>Section Name</th>
            <th>Paper Name</th>
            <th>Description</th>
            <th>Paper</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Count() > 0)
        {
            foreach (var item in Model.Select((x, y) => new { Data = x, Index = y }))
            {
                <tr>
                    <td>@(item.Index + 1)</td>
                    <td>@(item.Data.ClassName)</td>
                    <td>@item.Data.SubjectName</td>
                    <td>@item.Data.SectionName</td>
                    <td>@item.Data.PaperName</td>
                    <td>@item.Data.Description</td>
                    <td>
                        @Html.ActionLink(" ", "View", "DataFile", new { p = CustomEncrypt.Encrypt(item.Data.DataFileId.Value.ToString()) }, new { @class = "fa fa-eye text-primary", @target = "_blank" })

                    </td>
                    <td><button class="btn btn-info" onclick='editPaper(@Html.Raw(Json.Encode(new { id=item.Data.PaperId,classId= item.Data.ClassId,subjectId= item.Data.SubjectId,sectionId= item.Data.SectionId,paperName = item.Data.PaperName,description = item.Data.Description, languagecode = item.Data.LanguageCode ,dataFileId = item.Data.DataFileId,dataFileName = item.Data.DataFile.FileName })));'><i class="fa fa-pencil-alt"></i></button></td>
                    <td><button class="btn btn-danger" onclick='deletePaper(@Html.Raw(Json.Encode(new { id=item.Data.PaperId,paperName = item.Data.PaperName})))'><i class="fa fa-trash"></i></button></td>
                </tr>

            }

        }

    </tbody>
</table>
<script type="text/javascript">

    $(document).ready(function () {
        $("#tblSectionList").DataTable();
    });
</script>