@model List<OnlineMasterG.Models.ViewModels.ExamUpdateSectionVM>



<table id="tblLinksList" class="dataTables_wrapper dt-bootstrap4 no-footer">
    <thead>
        <tr>
            <th>Sl No.</th>
            <th>Section</th>
            <th>Link</th>
            <th>Sequence</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Count() > 0)
        {
            foreach (var item in Model.Select((x, y) => new { Data = x, Index = y }))
            {
                <tr>
                    <td>@(item.Index + 1)</td>
                    <td>@(item.Data.SectionName)</td>
                    <td>@item.Data.Link</td>
                    <td>@item.Data.Sequence</td>
                    <td><button class="btn btn-info" onclick='editLinks(@Html.Raw(Json.Encode(new { id=item.Data.LinkId,sectionId= item.Data.SectionLinkId,link = item.Data.Link,sequence = item.Data.Sequence, isActive = item.Data.IsActive,languagecode = item.Data.LanguageCode })));'><i class="fa fa-pencil-alt"></i></button></td>
                    <td><button class="btn btn-danger" onclick='deleteLinks(@Html.Raw(Json.Encode(new { id=item.Data.LinkId,link = item.Data.Link})))'><i class="fa fa-trash"></i></button></td>
                </tr>

            }

        }

    </tbody>
</table>
<script type="text/javascript">

    $(document).ready(function () {
        $("#tblLinksList").DataTable();
    });
</script>