@model IEnumerable<OnlineMasterG.Models.DAL.Course>

<script type="text/javascript">

    $(document).ready(function () {
        $("#tblCourses").DataTable();
    });
</script>

<table id="tblCourses" class="dataTables_wrapper dt-bootstrap4 no-footer">
    <thead>
        <tr>
            <th style="width:30px;">Sl No.</th>
            <th>Course Name</th>
            <th style="width:50px;">Sequence</th>
            <th style="width:50px;">Is Active</th>
            <th style="width:50px;">Edit</th>
            <th  style="width:50px;">Delete</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Count() > 0)
        {
            foreach (var item in Model.Select((x,y)=>new { Data= x,Index=y}))
            {
        <tr>
            <td>@(item.Index + 1)</td>
            <td>@item.Data.CourseName</td>

            <td>@item.Data.Sequence</td>
            <td>@(item.Data.Isactive == true ? "Active" : "Inactive")</td>
            <td><button class="btn btn-info" onclick='editCourse(@Html.Raw(Json.Encode(new { id=item.Data.CourseId,courseName = item.Data.CourseName,sequence = item.Data.Sequence, isActive = item.Data.Isactive,languagecode = item.Data.LanguageCode })));'><i class="fa fa-pencil-alt"></i></button></td>
            <td><button class="btn btn-danger" onclick='deleteCourse(@Html.Raw(Json.Encode(new { id=item.Data.CourseId,courseName = item.Data.CourseName})))'><i class="fa fa-trash"></i></button></td>
        </tr>

            }

        }

    </tbody>
</table>
